[submodule ".emacs-elisp/org-bullets"]
	path = .emacs-elisp/org-bullets
	url = https://github.com/sabof/org-bullets.git
[submodule ".emacs-elisp/helm"]
	path = .emacs-elisp/helm
	url = https://github.com/emacs-helm/helm.git
[submodule ".emacs-elisp/js2-mode"]
	path = .emacs-elisp/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule ".emacs-elisp/s.el"]
	path = .emacs-elisp/s.el
	url = https://github.com/magnars/s.el.git
