[submodule ".emacs-elisp/org-bullets"]
	path = .emacs-elisp/org-bullets
	url = https://github.com/sabof/org-bullets.git
[submodule ".emacs-elisp/helm"]
	path = .emacs-elisp/helm
	url = https://github.com/emacs-helm/helm.git
[submodule ".emacs-elisp/js2-mode"]
	path = .emacs-elisp/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule ".emacs-elisp/s.el"]
	path = .emacs-elisp/s.el
	url = https://github.com/magnars/s.el.git
[submodule ".emacs-elisp/undo-tree"]
	path = .emacs-elisp/undo-tree
	url = https://github.com/emacsmirror/undo-tree.git
[submodule ".emacs-elisp/themes/emacs-color-theme-solarized"]
	path = .emacs-elisp/themes/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule ".emacs-elisp/themes/hl-line-plus"]
	path = .emacs-elisp/themes/hl-line-plus
	url = https://github.com/emacsmirror/hl-line-plus.git
[submodule ".emacs-elisp/yasnippet"]
	path = .emacs-elisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule ".emacs-elisp/smartparens"]
	path = .emacs-elisp/smartparens
	url = https://github.com/Fuco1/smartparens.git
[submodule ".emacs-elisp/web-mode"]
	path = .emacs-elisp/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule ".emacs-elisp/php-mode"]
	path = .emacs-elisp/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule ".emacs-elisp/yafolding.el"]
	path = .emacs-elisp/yafolding.el
	url = https://github.com/zenozeng/yafolding.el.git
[submodule ".emacs-elisp/scala-mode/ensime-emacs"]
	path = .emacs-elisp/scala-mode/ensime-emacs
	url = https://github.com/ensime/ensime-emacs.git
[submodule ".emacs-elisp/scala-mode/sbt-mode"]
	path = .emacs-elisp/scala-mode/sbt-mode
	url = https://github.com/hvesalai/sbt-mode.git
[submodule ".emacs-elisp/scala-mode/scala-mode2"]
	path = .emacs-elisp/scala-mode/scala-mode2
	url = https://github.com/hvesalai/scala-mode2.git
[submodule ".emacs-elisp/dash.el"]
	path = .emacs-elisp/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule ".emacs-elisp/auto-complete"]
	path = .emacs-elisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule ".emacs-elisp/popup-el"]
	path = .emacs-elisp/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule ".emacs-elisp/fuzzy-el"]
	path = .emacs-elisp/fuzzy-el
	url = https://github.com/auto-complete/fuzzy-el.git
[submodule ".emacs-elisp/emmet-mode"]
	path = .emacs-elisp/emmet-mode
	url = https://github.com/smihica/emmet-mode.git
[submodule ".emacs-elisp/ac-emmet"]
	path = .emacs-elisp/ac-emmet
	url = https://github.com/yasuyk/ac-emmet.git
[submodule ".emacs-elisp/wcy-swbuff"]
	path = .emacs-elisp/wcy-swbuff
	url = https://github.com/emacsmirror/wcy-swbuff.git
